<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace=" fragments :: head"></head>

<body>

<heading th:replace="fragments :: heading"></heading>

<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" th:object="${chore}">

    <div class="form-group">
        <label th:for="name">Chore</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="user">Cleaner</label>
        <select th:name="cleanerId">
            <option th:each="cleaner : ${cleaners}"
                    th:text="${cleaner.name}"
                    th:value="${cleaner.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="date">Due Date</label>
        <select th:name="date">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select>
    </div>

    <input type="submit" value="Add Chore" />

</form>

</body>
</html>