<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace=" fragments :: head"></head>

<body class="container">

<heading th:replace="fragments :: heading"></heading>

<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Default Title</h1>

<form action="add" method="post" th:object="${chore}">
    <div class="form-group">
        <label th:for="choreName">Chore Name</label>
        <select th:name="choreId">
            <option th:each="chore : ${chores}"
                    th:text="${chore.choreName}"
                    th:value="${chore.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="name">Cleaner Name</label>
        <select th:name="cleanerId">
            <option th:each="cleaner : ${cleaners}"
                    th:text="${cleaner.name}"
                    th:value="${cleaner.id}"></option>
        </select>
    </div>

    <div cclass="form-group">
        <label th:for="date">Goal Completion Date</label>
        <input class="form-control" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>

        <!--    <div class="form-group">-->
<!--        <select th:name="${cleanerId}" required>-->
<!--            <option value="add" selected disabled hidden>Select a Cleaner</option>-->
<!--            <option th:each="cleaner : ${cleaners}"-->
<!--                    th:text="*{cleaner.cleanerName}"-->
<!--                    th:value="${cleaner.id}">-->

<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="date" name="dueDate">-->
<!--    </div>-->

    <input type="submit" value="Choreganize">

</form>

</body>
</html>