<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<heading th:replace="fragments :: heading"></heading>
<nav th:replace="fragments :: nav"></nav>
<h1 th:text="${title}">Default Title</h1>

<p th:unless="${chores} and ${chores.size()}">HOORAY!! Chores are completed! <a href="/chore/add">You can add chores here.</a> </p>


<table class="table">
    <tr>
        <th>Chore</th>
        <th>Cleaner</th>
        <th>Completion Day</th>
    </tr>

    <tr th:each="chore : ${chores}">
        <td th:text="${chore.name}"></td>
        <td th:text="${chore.cleaner.name}"></td>
        <td th:text="${chore.date}"></td>
    </tr>

    <tr>
        <td>
        <a href="/chore/delete">Remove</a>
        </td>
    </tr>

</table>
<hr />

<!--<h1>Completed</h1>-->

<!--<table class="table">-->

<!--    <tr th:each="chore : ${chores}">-->
<!--        <td th:text="${chore.name}"></td>-->
<!--        <td th:text="${chore.cleaner}"></td>-->
<!--        <td th:text="${chore.date}"></td>-->
<!--        <td th:text="${chore.id}" hidden></td>-->
<!--    </tr>-->

<!--</table>-->

</body>
</html>