.container {
    background-color: rgba(13,152,186,.75);
}

h1 {
font-family: 'Satisfy', cursive;
text-shadow: 2px 2px rgba(0,100,150,.75);
color: rgba(215,255,215,1);
}

a {
color: rgba(150,255,255,1)
}

.title {
  text-align: center;
}

a.logout {
  float: right;
}

table {
  padding:25%;
  margin-left:auto;
  margin-right:auto;
  max-width:600px;
}

th { background-color: rgba(215,255,215,1); }

tr:hover {background-color: rgb(245,245,245);}

form{
  padding:3%;
  margin:2%;
  max-width:600px;
  align:center;
}

.cleaner {
  float:center;
  }