<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace=" fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>
<h1>Add Chores</h1>

<form action="/add" method="post" th:object="${chore}">
    <div>
    <select required>
        <option value="" selected disabled hidden>Select a Chore</option>
        <option value="bedroom">Clean Bedroom</option>
        <option value="bathroom">Clean Bathroom</option>
        <option value="dishes">Do the Dishes</option>
        <option value="living room">Clean Living Room</option>
        <option value="set table">Set the Table</option>
        <option value="floor">Sweep and Mop Floors</option>
        <option value="vacuum">Vacuum Floors</option>
        <option value="windows">Clean Windows</option>
        <option value="counters">Clean kitchen counters</option>
    </select>
    </div>

    <div>
        <select th:name="cleanerId" required>
            <option value="" selected disabled hidden>Select a Cleaner</option>
            <option th:each="cleaner : ${cleaners}"
                    th:text="${cleaner.cleaner}"
                    th:value="${cleaner.id}"></option>
            <option value="mom">Mom</option>
        </select>
    </div>

    <div>
        <input type="date" name="dueDate">
    </div>

    <input type="submit" value="Add Chore">

</form>

</body>
</html>