<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:fragments="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Choreganizer</title>

    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>

<heading th:fragments="heading">
    <a class="logout" href="/login">logout</a>
    <h1>Choreganizer</h1>
    <hr />
</heading>

<nav th:fragments="nav">
    <a href="/chore">Home |</a>
    <a href="/chore/add"> Add Chore |</a>
    <a href="/cleaner/add"> Manage Cleaner</a>
</nav>

</body>
</html>