<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>
<h1 th:text="${title}">Default Title</h1>

<p th:uless="${chores} and ${chores.size()}">HOORAY!! Chores are completed!</p>

<table class="table">

    <tr>
        <th>Chore</th>
        <th>Cleaner</th>
        <th>Completion Day</th>
    </tr>

    <tr th:each="chore : ${chores}">
        <td th:text="${chore.choreName}"></td>
    </tr>
</table>

</body>
</html>