<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace=" fragments :: head"></head>
<body>

<heading th:replace="fragments :: heading"></heading>

<p>Not a Choreganizer? <a href="login/registration">Register here!</a></p>

<form method="post" th:object="${login}">
    <div class="form-group">
        <label for="cleaner">cleaner name:</label>
        <input class="form-control" type="text" th:field="*{cleaner}" id="cleaner" required>
        <span th:errors="*{cleaner}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" th:field="*{password}" id="password" required>
        <span th:errors="*{password}" class="error"></span>
    </div>

    <input type="submit" value="Choreganize!">
</form>

</body>
</html>