<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace=" fragments :: head"></head>
<body>

<heading th:replace="fragments :: heading"></heading>

<p>Not a Choreganizer? <a href="login/registration">Register here!</a></p>

<form method="post">
    <div class="form-group">
        <label for="username">Username:
            <input type="text" id="username" required>
        </label>
    </div>

    <div class="form-group">
        <label for="password">Password:
            <input type="password" id="password" required>
        </label>
    </div>
    <input type="submit" value="Choreganize!">
</form>

</body>
</html>