<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace=" fragments :: head"></head>
<body>

<heading th:replace="fragments :: heading"></heading>

<p>Already a Choreganizer? <a href="login">Login here!</a></p>

<form method="post">
    <div class="form-group">
    <label for="username">Username:
    <input type="text" id="username" required>
    </label>
    </div>

    <div class="form-group">
    <label for="password">Password:
    <input type="password" id="password" required>
    </label>
    </div>

    <div class="form-group">
    <label for="verify_password">Verify password:
    <input type="password" id="verify_password" required>
    </label>
    </div>

    <div class="form-group">
    <label for="user1">Primary username:
    <input type="text" id="user1" required>
    </label>
    </div>

    <div class="form-group">
    <label for="user2">Username:
        <input type="text" id="user2">
    </label>
    </div>

    <div class="form-group">
    <label for="user3">Username:
        <input type="text" id="user3">
    </label>
    </div>

    <div class="form-group">
    <label for="user4">Username:
        <input type="text" id="user4">
    </label>
    </div>

    <div class="form-group">
    <label for="user5">Username:
        <input type="text" id="user5">
    </label>
    </div>

    <div class="form-group">
    <label for="user6">Username:
        <input type="text" id="user6">
    </label>
    </div>

    <input type="button" value="Choreganize">
</form>

</body>
</html>