<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace=" fragments :: head"></head>

<body class="container">

<heading th:replace="fragments :: heading"></heading>

<nav th:replace="fragments :: nav"></nav>

<h1 class="title" th:text="${title}">Default Title</h1>

<div>
<form method="post" th:object="${cleaner}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input type="text" class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <input type="submit" value="Add Cleaner" />
</form>
</div>

<hr />

<h1 class="title">Cleaners</h1>
<div class="cleaner">
    <ul>
        <li th:each="cleaner : ${cleaners}">
            <a th:href="'/chore/cleaner?id=' + ${cleaner.id}" th:text="${cleaner.name}"></a>
        </li>
    </ul>
</div>
<footer>
    <a href="/cleaner/delete">Delete Cleaner</a>
</footer>

</body>
</html>