<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace=" fragments :: head"></head>

<body class="container">

<heading th:replace="fragments :: heading"></heading>

<nav th:replace="fragments :: nav"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post">

    <div th:each="cleaner : ${cleaners}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${cleaner.id}" th:id="${cleaner.id}" />
        <label th:for="${cleaner.id}" th:text="${cleaner.name}"></label>
        <br />
    </div>

    <input type="submit" value="Delete Cleaner" />
</form>

</body>
</html>